@page "/application"

@using BlazorFlow.Data
@using BlazorFlow.Shared.Components
@using System.ComponentModel.DataAnnotations

@inject FlowService FlowService
@inject NavigationManager NavigationManager

<h1>Flow</h1>

@if (CurrentNode is null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm Model="PageModel">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div id="question">
        <p>@CurrentNode.FlowQuestion.FlowQuestionTextEn</p>
    </div>

    <div id="answer">
        @if (CurrentNode.FlowNodeType == FlowNodeType.radio)
        {
            if (CurrentNode.FlowAnswers is { } flowAnswers)
            {
                @foreach (var answer in flowAnswers)
                {
                    <label class="radio-answer">
                        <InputRadio name="radio" SelectedValue="int.Parse(answer.FlowAnswerValue!)" @bind-Value="PageModel.RadioValue" />
                        @answer.FlowAnswerTextEn
                    </label>
                }
            }
        }
        else if (CurrentNode.FlowNodeType == FlowNodeType.number)
        {
            <InputNumber TValue="decimal" @bind-Value="PageModel.NumberValue"></InputNumber>
        }
    </div>
</EditForm>

<div id="navigation" class="row">
    <button class="btn btn-primary" @onclick="previous" disabled="@isFirstNode">Previous</button>

    @if (CurrentLinks?.Length == 0)
    {
        <button class="btn btn-primary" @onclick="submit">Submit</button>
    }
    else
    {
        <button class="btn btn-primary" @onclick="next">Next</button>
    }
</div>
}

@code {
    Flow? CurrentFlow;
    FlowNode? CurrentNode;
    FlowLink[]? CurrentLinks => CurrentFlow!.OutEdges(CurrentNode!).ToArray();
    UserFlow? UserFlow;

    Model PageModel = new Model();

    bool isFirstNode => false;
    bool isLastNode => false;

    protected override async Task OnInitializedAsync()
    {
        var flowVersion = 1;
        CurrentFlow = await FlowService.GetFlow(flowVersion);
        CurrentNode = CurrentFlow.Vertices.First(x => x.FlowQuestion.FlowQuestionCode == "START");
        UserFlow = new UserFlow(1, flowVersion, 1);
    }

    void next()
    {
        saveUserFlowAnswer();

        evaluateLinks();
    }

    void previous()
    {
        throw new NotImplementedException();
    }

    void submit()
    {
        NavigationManager.NavigateTo("/");
    }

    void saveUserFlowAnswer()
    {
        // check if userNode already exists for this flowNode
        var existingUserNode = UserFlow!.UserFlowAnswers.Where(x => x.Value.FlowNodeId == CurrentNode!.FlowNodeId);

        // userNode already exists for this flowNode, compare current answer with existing answer
        if (existingUserNode.Any())
        {
            // if no differences, do nothing and navigate forward

            // difference found, update current userNode, need to check for changes down the line
        }

        // no userNode exists for this flowNode, create new
        else
        {

        }

        LinkedListNode<UserFlowAnswer> newUserNode;

        switch (CurrentNode!.FlowNodeType)
        {
            case FlowNodeType.none:
                newUserNode = new LinkedListNode<UserFlowAnswer>(new UserFlowAnswer(0, CurrentNode.FlowNodeId));
                break;
            case FlowNodeType.radio:
                newUserNode = new LinkedListNode<UserFlowAnswer>(new UserFlowAnswer(0, CurrentNode.FlowNodeId, PageModel.RadioValue));
                break;
            case FlowNodeType.number:
                newUserNode = new LinkedListNode<UserFlowAnswer>(new UserFlowAnswer(0, CurrentNode.FlowNodeId, PageModel.NumberValue));
                break;
            default:
                newUserNode = new LinkedListNode<UserFlowAnswer>(new UserFlowAnswer(0, 0));
                break;
        }

        if (UserFlow!.UserFlowAnswers.Count() == 0)
        {
            UserFlow.UserFlowAnswers.AddFirst(newUserNode);
        }
        else
        {
            throw new NotImplementedException();
        }
    }

    void evaluateLinks()
    {
        if (CurrentLinks?.Length == 1)
        {
            CurrentNode = CurrentLinks[0].Target;
        }
        else if (CurrentLinks?.Length >= 2)
        {
            var availableLinks = new List<FlowLink>();

            foreach (var link in CurrentLinks!)
            {
                if (link.FlowCondition is { } flowCondition)
                {
                    switch (CurrentNode!.FlowNodeType)
                    {
                        case FlowNodeType.radio:
                            if (flowCondition.Evaluate(PageModel.RadioValue)) availableLinks.Add(link);
                            break;
                        case FlowNodeType.number:
                            if (flowCondition.Evaluate(PageModel.NumberValue)) availableLinks.Add(link);
                            break;
                        default:
                            break;
                    }
                }
            }

            if (availableLinks.Count == 1)
            {
                CurrentNode = availableLinks[0].Target;
            }
        }
    }

    public class Model
    {
        [Range(0, 1)]
        public int RadioValue { get; set; }

        public decimal NumberValue { get; set; }
    }
}

<style>
    button {
        margin: 0.15em;
    }

    #step {
        min-height: 120px;
    }

    .radio-answer {
        display: block;
    }
</style>
